<template name="forgotPassword">
    <div class="content_rgt">
        <div class="register_sec">
            <h1>Forgot Password</h1>
            <form id="forgot-form">
                <ul>
                    <div class="alerta"></div>
                    <li><span>Enter E-mail ID</span>
                        <input type="text" placeholder="User@gmail.com" required>
                    </li>
                    <li>
                        <input type="submit" value="Submit">
                    </li>
                </ul>
            </form>
        </div>
    </div>
    {{#if popup}}
         {{> popupSec content = "A mail has been send to your e-mail Id for Reset Password Link"}}
    {{/if}}
</template>
