<template name="register">
    <div class="content_rgt">

        <div class="register_sec">
            <h1>Create An Account</h1>
            <form id="register-form" onkeypress="return event.keyCode != 13;">
                <ul>
                    <div class="alerta"></div>
                    <li><span>Username</span>
                        <input type="text" placeholder="Enter your username" required>
                    </li>
                    <li><span>Password</span>
                        <input type="password" placeholder="Enter your password"  id="password" required>
                    </li>
                    <li><span>Confirm Password</span>
                        <input type="password" placeholder="Enter your password"  id="confirmPassword" required>
                    </li>
                    {{#if isFieldOk}} 
                        <span style="color:red">Password not match</span>
                    {{/if}}
                    <li><span>Email</span>
                        <input type="email" required placeholder="Enter your email" >
                    </li>
                    <li><span>First Name</span>
                        <input type="text" placeholder="Enter your first name" >
                    </li>
                    <li><span>Last Name</span>
                        <input type="text" placeholder="Enter your last name" >
                    </li>
                    <li>
                        <input type="checkbox" required>I agree to Term & Conditions</li>
                    <li>  
                        {{#if isFieldOk}}                                          
                            <input type="submit" value="Register" id="register" disabled>
                        {{else}}
                            <input type="submit" value="Register" id="register" >
                        {{/if}}    
                    </li>
                </ul>
                <div class="addtnal_acnt">I already have an account.<a href="{{pathFor 'login'}}">Login My Account !</a></div>
            </form>
        </div>
    </div>
    {{#if verifyEmail}}
        {{> popupSec content = "A mail has been send to your e-mail Id for verifying e-mail "}}
    {{/if}}    
</template>
<template name="common">
    <div class="content_lft">
        <h1>Welcome from PPL!</h1>
        <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
        <img src="images/img_9.png" alt="" />
    </div>
</template>

