<template name="resetPassword">
    <div class="content_rgt">
        <div class="register_sec">
            <h1>Reset Password</h1>
            <form id="reset-form" onkeypress="return event.keyCode != 13;">
                <ul>
                    <li><span>Enter New Password</span>
                        <input type="password" placeholder="Enter your new password" required id="password">
                    </li>
                    <li><span>Confirm Password</span>
                        <input type="password" placeholder="Enter your password again" required id="confirmPassword">
                    </li>
                    <li>
                        {{#if isFieldOk}}                                          
                            <input type="submit" value="Submit" disabled>
                        {{else}}
                            <input type="submit" value="Submit">
                        {{/if}}  
                    </li>
                </ul>
            </form>
        </div>
    </div>
    {{#if popup}}
         {{> changePopup content='Password Sucessfully Reset Redirecting...'}}
    {{/if}}
</template>
