<template name="popupSec">
    <div class="popup_sec" id="pop_forgt">
        <div class="clos_btn"><img src="/images/clos.png" alt="" id="clos_pop" /></div>
        <div class="pop_hdr">
            {{ content }} </div>
        <div class="man_contnt">
            <span>Please Check Your Mail Box!</span>
            <input type="submit" value="Ok" class='close_pop'>
        </div>
    </div>
</template>

<template name="changePopup">
    <div class="popup_sec" id="pop_forgt">
        <div class="clos_btn"><img src="/images/clos.png" alt="" id="clos_pop" /></div>
        <div class="man_contnt">
            <span>{{ content }}</span>
            <input type="submit" value="Ok" class='close_pop'>
        </div>
    </div>
</template>

<template name="sharePopup">
    <div class="popup_sec" id="pop_share">
        <div class="clos_btn"><img src="/images/clos.png" alt="" id="clos_pop" /></div>
        <div class="man_contnt">
            <span>{{> shareit content}}</span>
        </div>
    </div>
</template>