<head>
  <style type="text/css">
    .overrideWidth {
    width: 100%;
    }
  </style>
</head>
<template name="managePost">
  <div class="content_lft overrideWidth">
    
    {{> reactiveTable collection=posts settings=settings}} {{#if deleteUser}} {{> del_user}} {{/if}} {{#if changeRole}} {{> change_role}} {{/if}} {{#if blockUser}} {{> block_user}} {{/if}} {{#if unblockUser}} {{> unblock_user}} {{/if}}
  </div>  
</template>

<!--  --> 