<template name="post_right">
    <div class="content_rgt">        
        {{#if isInRole 'admin'}}
            <div class="rght_btn"> <span class="rght_btn_icon"><img src="/images/btn_icona.png" alt="up" /></span> <span class="btn_sep"><img src="/images/btn_sep.png" alt="sep" /></span> <a href="{{ pathFor 'uploadCategory' }}">Upload Category</a> </div>
        {{/if}}    
        <div class="rght_btn"> <span class="rght_btn_icon"><img src="/images/btn_iconb.png" alt="up" /></span> <span class="btn_sep"><img src="/images/btn_sep.png" alt="sep" /></span> <a href="{{ pathFor 'uploadPost' }}">Upload Post</a> </div>
        <div class="rght_cate">
            <div class="rght_cate_hd" id="rght_cat_bg">Categories</div>
            <div class="rght_list">
                <ul>
                    {{#each categories}}
                    <li><a href="{{queryPathFor 'home' name }}"><span class="list_icon"><img src="{{picture}}" alt="up" /></span > {{name}}</a></li>
                    {{/each}}
                    <li><a href="{{pathFor 'home' }}"><span class="list_icon"><img src="/images/btn_iconb.png" alt="up" /></span > All</a></li>
                </ul>
            </div>
        </div>
        <div class="rght_cate">
            <div class="rght_cate_hd" id="opn_cat_bg">Featured</div>
            <div class="sub_dwn">
                {{#each featuredPosts}}
                    <a href="/post/{{_id}}">
                        <div class="feat_sec">
                            <div class="feat_sec_img"><img src="{{pictrue}}" alt="image" /></div>
                            <div class="feat_txt">{{formatText title 30 }}</div>
                            <div class="btm_rgt">
                                <div class="btm_arc">{{catType}}</div>
                            </div>
                        </div>
                    </a>    
                {{/each}}                
            </div>
        </div>
    </div>
</template>
