<template name="post_detail">
    <div class="content_lft">
        {{#with postDetail}}
        <div class="contnt_2">
            <div class="div_a">
                <div class="div_title">{{title}}</div>
                <div class="btm_rgt">
                    <div class="btm_arc"><a href="{{queryPathFor 'home' catType }}" class="text_white">{{catType}}</a></div>
                </div>
                <div class="div_top">
                    <a href="/timeline/{{creator._id}}">
                    <div class="div_top_lft">
                        {{#if creator.profile.picture}}
                        <img src="{{creator.profile.picture}}"> {{else}}
                        <img src="/images/img_6.png"> {{/if}} {{creator.username}}
                    </div>
                    </a>
                    {{#with formatTs createdAt}}
                    <div class="div_top_rgt"><span class="span_date">{{date}}</span><span class="span_time">{{time}}</span></div>
                    {{/with}}
                </div>
                <div class="div_image"><img src="{{pictrue}}" alt="pet" /></div>
                <div class="div_btm">
                    {{#if sharePost}}
                        <div id="share-buttons">

                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u={{absoluteURL}}post/{{_id}}" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                            </a>
                            
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url={{absoluteURL}}post/{{_id}}" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
                            </a>
                            
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{absoluteURL}}post/{{_id}}" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                            </a>
                            
                            <!-- Pinterest -->
                            <!-- <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
                            </a> -->

                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url={{absoluteURL}}post/{{_id}}&amp;text={{title}}&amp;" target="_blank">
                                <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                            </a>

                    </div>
                    {{/if}}
                    <div class="btm_list">
                        <ul>
                            <li class="sharePost"><a href="#"><span class="btn_icon"><img src="/images/icon_001.png" alt="share" /></span>Share</a></li>
                           {{#if isLiked flagBy}}
                                <li class="unflagPost"><a href="#"><span class="btn_icon "><img src="/images/icon_002.png" alt="share" /></span>Unflag</a></li>
                            {{else}}
                                 <li class="flagPost"><a href="#"><span class="btn_icon "><img src="/images/icon_002.png" alt="share" /></span>Flag</a></li>
                            {{/if}}
                            <li><a href="#"><span class="btn_icon"><img src="/images/icon_004.png" alt="share" /></span>{{noOfComment}} Comments</a></li>
                            {{#if isLiked likeBy}}
                                <li class="unlikePost"><a href="#"><span class="btn_icon"><img src="/images/icon_003.png" alt="share" /></span>Unlike</a></li>
                            {{else}}
                                <li class='likePost'><a href="#"><span class="btn_icon"><img src="/images/icon_003.png" alt="share" /></span>Likes</a></li>
                            {{/if}}
                            <div class="like_count" style="margin-right: 10px;"><span class="lft_cnt"></span><span class="mid_cnt">{{noOfLikes}}</span><span class="rit_cnt"></span></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="contnt_3">
            <ul>
                {{#each postComments}}
                <li>
                    <div class="list_image">
                        <div class="image_sec">
                            {{#if creator.profile.picture }}
                            <img src="{{creator.profile.picture}}"> {{else}}
                            <img src="/images/post_img.png"> {{/if}}
                        </div>
                        <div class="image_name">{{creator.username}}</div>
                    </div>
                    <div class="list_info">
                        {{comment}}
                    </div>
                    <div class="like_count" style="float: right;
                    margin-top: 3%;"><span class="lft_cnt"></span><span class="mid_cnt">{{noOfLikes}}</span><span class="rit_cnt"></span></div>
                    {{#if isLiked likeBy}}
                    <input type="button" value="Unlike" class="orng_btn removeCommentLike"> {{else}}
                    <input type="button" value="Likes" class="orng_btn commentLike"> {{/if}} {{#if arrayLength replies }}
                    <div class="contnt_3">
                        <ul>
                            {{#each replies}}
                            <li>
                                {{#with replierObj authorId}}
                                <div class="list_image">
                                    <div class="image_sec">
                                        {{#if this.profile.picture }}
                                        <img src="{{this.profile.picture}}"> {{else}}
                                        <img src="/images/post_img.png"> {{/if}}
                                    </div>
                                    <div class="image_name">{{this.username}}</div>
                                </div>
                                <div class="list_info">
                                    {{../reply}}
                                </div>
                                {{/with}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}} {{#if showReply _id}}
                    <div class="like_count" style="margin-right: 10px;float: right;
                        margin-top: 3%;"><span class="lft_cnt"></span><span class="mid_cnt">{{arrayLength replies}}</span><span class="rit_cnt"></span></div>
                    <input type="button" value="Reply" class="black_btn">
                    <div class="cmnt_div1">
                        <form id="addReply">
                            <input type="text" class="cmnt_bx1" placeholder="Enter a reply">
                            <input type="submit" class="sub_bttn1" value="Submit Reply">
                        </form>
                    </div>
                    {{else}}
                    <div class="like_count" style="margin-right: 10px;float: right;
                        margin-top: 3%;"><span class="lft_cnt"></span><span class="mid_cnt">{{arrayLength replies}}</span><span class="rit_cnt"></span></div>
                    <input type="button" value="Reply" class="orng_btn showReply"> {{/if}}
                </li>
                {{/each}}
                    {{#if currentUser}}
                <li>
                    <div class="cmnt_div1">
                        {{#autoForm id="addCommentForm" collection="Comments" type="insert"}}
                        <fieldset>
                            {{> afQuickField name='comment' class="cmnt_bx1"}}
                        </fieldset>
                        <input type="submit" class="sub_bttn1" value="Submit Comment"> {{/autoForm}}
                    </div>
                </li>
                    {{/if}}
            </ul>
            {{#if showMore}}
            <div class="view_div"><a href="javascript:void(0)" class="loadMore">View more</a></div>
            {{/if}}
        </div>
        {{/with}}
    </div>
</template>
