<template name='account'>
	
	    <div class="left_contnt">
	    	<div class="act_button">
	        	<ul>
	            	<li class="account current"><a href="#">Account</a></li>
	                <li class="cp"><a href="#">Change Password</a> </li>
	                <!-- <li class="privacy"><a href="#">Privacy</a> </li> -->
	            </ul>
	        </div>
	     
	     
	     
	    </div>
	    {{#if cp}} 
           {{> changePassword}}
		{{else}}
		   {{#if privacy}}
		   {{else}}
		   		{{> editAccount}}
		   {{/if}}	  
		{{/if}}	  
</template>