<template name="changePassword"> 
      <div class="rgt_contnt">
      <div class="sec_title">Change Password</div>
      		<div class="rgt_midsec">
            	 <form id="changePassword-form">
               <div class="alerta"></div>
            	<div class="midsec_row">
                	<div class="rw_hd">Old Password <span>*</span></div>
                    <div class="rw_tbox"><input type="password" placeholder="Enter your old password" class="tbox"></div>
                </div>
                <div class="midsec_row">
                	<div class="rw_hd">New Password</div>
                    <div class="rw_tbox"><input type="password" placeholder="Enter your new password" class="tbox" id="password"></div>
                </div>
                <div class="midsec_row">
                	<div class="rw_hd">Confirm Password <span>*</span></div>
                    <div class="rw_tbox"><input type="password" placeholder="Confirm your password" class="tbox" id="confirmPassword"></div>
                </div>
                
                <div class="midsec_row">
                    <div class="rw_tbox"><span class="cler"></span><input type="submit" value="Submit" class="buttn"></div>
                </div>
                </form>
            </div>
      		{{#if popup}}
              {{> changePopup content='Password Sucessfully Changed Redirecting...'}}
           {{/if}}
      
    
    </div>
</template>